/* SECTION Card */
.card{
  width: 100%;
  height: 160px;
}

.card p, h5{
  color: white;
}

.card .number {
  font-size: 34px;;
}

/* SECTION Menu */
.menu{
  background-color: black;
  padding: 15px;
}
.menu a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

/* SECTION Intro */
.intro-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.253)), to(rgba(0, 0, 0, 0.281))),url(photo/intro.jpg);
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
}

.intro-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.intro-image h4{
  color:white;
  background-color:rgba(255, 255, 255, 0.37)
}

/* SECTION Date */
.date{
  background-color:rgba(0, 0, 0, 0.075);
}
.date p span{
  font-size: 24px;
}
/* SECTION Pagination */
.pagination{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  text-align: center;
  justify-content: center;
}

.pagination .number{ 
  cursor: pointer;
}

.pagination .change{ 
  cursor: pointer;
}

.pagination .current{
  background-color: rgba(100, 148, 237, 0.534);
  color: blue;
}